@import "../base/NumericInput-parameters.css";

:host {
	--_ui5_numeric_input_border_style: 2px solid var(--sapField_BorderColor);
	--_ui5_numeric_input_border_style_hover: 2px solid var(--sapField_Hover_BorderColor);
	--_ui5_numeric_input_error_warning_information_border_style: dashed;
	--_ui5_numeric_input_after_border_style: none;
	--_ui5_numeric_input_error_background_color: transparent;
	--_ui5_numeric_input_error_hover_background: var(--sapField_InvalidBackground);
	--_ui5_numeric_input_error_focused_background: var(--sapField_InvalidBackground);
	--_ui5_numeric_input_border_hover: 2px solid var(--sapField_Hover_BorderColor);
	--_ui5_numeric_input_input_border_top_bottom_focused_after: 0.125rem;
	--_ui5_numeric_input_input_border_bottom_focused_after: 0.1875rem;
}
