:host {
	--_ui5_banner_background: var(--sapShell_HeroBanner_Background);
	--_ui5_banner_text_color: var(--sapShell_HeroBanner_TextColor);
	--_ui5_banner_border_radius: var(--sapTile_BorderCornerRadius);
	--_ui5_banner_border: 0.0625rem solid var(--sapTile_BorderColor);
	--_ui5_banner_box_shadow: var(--sapContent_Shadow0);
	--_ui5_banner_background_image: var(--sapShell_HeroBanner_BackgroundImage);
}
